* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #0a032c;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  max-width: fit-content;
  padding: 15px 25px;
  background-color: #fc2f70;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;

}
button:hover {
  background-color: #fff;
  border: 2px solid #fc2f70;
  color: #fc2f70;
  cursor: pointer;
  animation: jelly 0.5s;

}
li{
  list-style: none ;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@media (max-width: 770px) {
  button{
  width: 100%;
}
}
@media (max-width: 400px) {
  button {
    font-size: 0.9rem;
    padding: 10px 10px;
  }

}